{% extends 'base.html' %}

{% block title %}URL Shortener{% endblock %}

{% block main %}


<div class="container">
  <div class="card-deck mb-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal text-center">{{title}}</h4>
      </div>
      <h5><p class="text-dark text-center">Basicall, This application is designed to shorten your URL's. It can also used to share your files publicly just by a simple URLs   </p></h5>
      <div class="card-header shadow-sm">
        <h3><p class="text-dark">Steps To Follow:</p></h3>
        <ol>
          <li>Goto Home page</li>
          <li>Just paste Your complex links or files their</li>
          <li>click on shortnen to get the short URL's for the request itmes</li>
        </ol>
      </div>

    </div>

  </div>
</div>

{% endblock %}
